/* .news-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  } */
  
  .news-cards {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
  }
  .news-card {
    display: flex;
    overflow-wrap: anywhere;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
  }
  @media screen and (max-width: 480px) {
    .news-cards {
      gap:6px;
    }
    .news-card{
      padding: 6px;
    }
  }
  

  
  .news-card:hover {
    transform: scale(1.02);
  }
  
  .news-image {
    display: flex;
    max-width: 18%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .news-card h2 {
    font-size: 1.5rem;
    margin: 0px 0;
  }
  
  .news-card p {
    margin: 8px 0;
  }
  .showAll{
    color: red;
    text-decoration: underline;
  }

  .l-shape-container {
    display: grid;
    grid-template-columns: 50% 50%; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    grid-template-areas:
      'imagey text'
      'text text'; /* Second row spans full width for text */
    gap: 10px; /* Optional gap between items */
    width: 100%; /* Full width container */
  }
  
  .imagey {
    grid-area: imagey; /* Correct grid area name */
    width: 100%; /* Ensure the div fills the grid area */
    background-color: lightblue; /* Optional background for visualization */
  }
  
  .text {
    grid-area: text; /* Assign the text grid area */
    padding: 10px;
    background-color: lightgray; /* Optional background for visualization */
  }
  