.bgPage{
    background-color: #fafafa;
}
.blogCard{
    background-color: rgb(255 255 255);
    border: 1px solid #dddddd;
    border-radius: 1rem;
    min-height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    overflow-wrap: anywhere;
}
.blogCard:hover {
    transform: scale(1.02);
  }
.blogCard img{
    border-radius: 1rem;
}
.imgDiv{
    padding: 0.25rem;
    width: 50%;
    max-width: 20rem;
    max-height: 14rem;
}
.blog-title{
    overflow-wrap: anywhere;
}